<router-outlet></router-outlet>
<div class="container">
  <div class="text-center mb-4">
    <button class="btn btn-success mr-2" (click)="onClickAddAllInStock('En stock')">
      Basculer en stock
    </button>
    <button class="btn btn-danger" (click)="onClickAddAllInStock('Stock epuisé')">
      Basculer hors stock
    </button>
  </div>
  <table class="table table-striped table-dark">
    <thead class="text-center">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Etat</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let product of products; let index=index">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.status }}</td>
        <td>
          <button [ngClass]="{
            'btn-danger': product.status !== 'En stock',
            'btn-success': product.status === 'En stock'
          }" class="btn btn-success" (click)="onClickAddInStock(index, getNextStatus(product.status))">
            Basculer en {{ getNextStatus(product.status)}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
